In [1]:
import pandas as pd
import numpy as np
import dataframe_image as dfi
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
from scipy.stats import chisquare
from scipy.stats import mannwhitneyu
from itertools import combinations
from math import log, log10, exp, e, pow, sqrt
from statsmodels.sandbox.stats.multicomp import multipletests
import seaborn as sns
from statannotations.Annotator import Annotator
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# p value signifigance
def get_asterisks_for_pval(p_val):
    """Receives the p-value and returns asterisks string."""
    if p_val > 0.05:
        p_text = "ns"  # above threshold => not significant
    elif p_val < 1e-4:  
        p_text = '****'
    elif p_val < 1e-3:
        p_text = '***'
    elif p_val < 1e-2:
        p_text = '**'
    else:
        p_text = '*'
    
    return p_text

In [2]:
def chisq_and_posthoc_corrected():
# define dataset as dff
    contigency= pd.crosstab(dff[x], dff['Flu pos']).round(3)
    print(contigency)
    # start by running chi2 test on the matrix
    chi2, p, dof, ex = chi2_contingency(contigency, correction=True)
    print(f"Chi2 result of the IAV contingency table: {chi2}, p-value: {p} ({get_asterisks_for_pval(p)})")
    print("")

    # post-hoc
    all_combinations = list(combinations(contigency.index, 2))  # gathering all combinations for post-hoc chi2
    p_vals = []
    print("Corrected multiple comparisons:")
    for comb in all_combinations:
        new_df = contigency[(contigency.index == comb[0]) | (contigency.index == comb[1])]
        chi2, p, dof, ex = chi2_contingency(new_df, correction=True)
        p_vals.append(p)
        # print(f"For {comb}: {p}")  # uncorrected

    # checking significance
    # correction for multiple testing
    reject_list, corrected_p_vals = multipletests(p_vals, method='fdr_bh')[:2]
    for p_val, corr_p_val, reject, comb in zip(p_vals, corrected_p_vals, reject_list, all_combinations):
        print(f"{comb}: p_value: {p_val:5f}; corrected: {corr_p_val:5f} ({get_asterisks_for_pval(p_val)}) reject: {reject}")

In [3]:
def chisq_test():
# define dataset as dff
# define parameters as x and y
    contigency= pd.crosstab(dff[x], dff[y]).round(3)
    print(contigency)
    # start by running chi2 test on the matrix
    chi2, p, dof, ex = chi2_contingency(contigency, correction=True)
    print(f"Chi2 result of the IAV contingency table: {chi2}, p-value: {p} ({get_asterisks_for_pval(p)})")
    print("")

In [4]:
def generate_distribution_histogram(dataframe, 
                                    column_name, 
                                    title, x_axis_label, y_axis_label,
                                    label_name,
                                    number_bins = 15):
    """
    This function generates a histogram.
    Args:
        dataframe:
        column_name: String. Name of the column whose distribution we
        want to visualize.
        title: String. Title of the histogram.
        x_axis_label: String. X-axis label.
        y_axis_label: String. Y-axis label.
    Outputs:
        Histogram containing distribution for specific column column_name.
    """
    plt.hist(dataframe[column_name], bins = number_bins, label = label_name)
    plt.title(title)
    plt.xlabel(x_axis_label)
    plt.ylabel(y_axis_label)
    plt.legend(loc='upper right')

def mann_whitney_u_test(distribution_1, distribution_2):
    """
    Perform the Mann-Whitney U Test, comparing two different distributions.
    Args:
       distribution_1: List. 
       distribution_2: List.
    Outputs:
        u_statistic: Float. U statisitic for the test.
        p_value: Float.
    """

    u_statistic, p_val = mannwhitneyu(distribution_1, distribution_2)
    print('Mann-Whitney U test for difference in distribution results:')
    print(f'p-value: {p_val} ({get_asterisks_for_pval(p_val)})')
    print(f'U statistic: {u_statistic}')
    return

In [5]:
# Original Dataset, dropping excess rows/columns
df = pd.read_csv('Country_age_strat.csv', encoding='latin-1')
df_agg = pd.read_csv('Country_agg.csv', encoding='latin-1')
df.dropna(how='all', inplace=True)
df_agg.dropna(how='all', inplace=True)

In [6]:
df

,country,date,age_group,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,...,% female infection,% male infection,% female death,% male death,Country begin,Bin 0-19,Bin 20-49,Bin 50-79,Bin 80+,Total
0,Afghanistan,11/16/2021,19-Oct,10.0,19.0,13.0,12.0,4792.0,4792000,5030.0,...,48.79,51.21,52.00,48.00,Afghanistan,1,0,0,0,0
1,Afghanistan,11/16/2021,20-29,20.0,29.0,41.0,66.0,3408.0,3408000,3628.0,...,48.44,51.56,38.32,61.68,NaN,0,1,0,0,0
2,Afghanistan,11/16/2021,30-39,30.0,39.0,55.0,142.0,2167.0,2167000,2367.0,...,47.79,52.21,27.92,72.08,NaN,0,1,0,0,0
3,Afghanistan,11/16/2021,40-49,40.0,49.0,141.0,291.0,1418.0,1418000,1545.0,...,47.86,52.14,32.64,67.36,NaN,0,1,0,0,0
4,Afghanistan,11/16/2021,50-59,50.0,59.0,318.0,472.0,900.0,900000,941.0,...,48.89,51.11,40.25,59.75,NaN,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,Wales,6/16/2022,45-64,45.0,64.0,413.0,612.0,426.0,426000,403.0,...,51.39,48.61,40.29,59.71,NaN,0,0,0,0,0
1459,Wales,6/16/2022,65-74,65.0,74.0,650.0,1064.0,187.0,187000,175.0,...,51.66,48.34,37.92,62.08,NaN,0,0,1,0,0
1460,Wales,6/16/2022,75-84,75.0,84.0,1349.0,1971.0,120.0,120000,102.0,...,54.05,45.95,40.63,59.37,NaN,0,0,0,0,0
1461,Wales,6/16/2022,85+,85.0,999.0,2244.0,1823.0,53.0,53000,32.0,...,62.35,37.65,55.18,44.82,NaN,0,0,0,1,0
1462,Wales,NaN,NaN,NaN,NaN,4656.0,5527.0,1349.0,1349000,1293.0,...,51.06,48.94,45.72,54.28,NaN,0,0,0,0,1

In [7]:
df_agg

,country,deathsF,deathsM,populationin1000sF,populationin1000sM,Total infection,Total Death,% female infection,% male infection,% female death,% male death,Num female infection,Num female death,Num male infection,Num male death
0,Afghanistan,1375,2574,13545,14295,27840000,3949,48.65,51.35,34.82,65.18,13544160,1375,14295840,2574
1,Albania,703,1320,1413,1463,2876000,2023,49.13,50.87,34.75,65.25,1412979,703,1463021,1320
2,Argentina,50676,68751,23148,22048,45196000,119229,51.22,48.78,42.50,57.66,23149391,50672,22046609,68747
3,Aruba,68,83,57,52,109000,151,52.29,47.71,45.03,54.97,56996,68,52004,83
4,Australia,3628,4811,12801,12698,25499000,8439,50.20,49.80,42.99,57.01,12800498,3628,12698502,4811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Uganda,112,252,15838,15046,30884000,364,51.28,48.72,30.77,69.23,15837315,112,15046685,252
102,Ukraine,57678,48780,23472,20264,43736000,106458,53.67,46.33,54.18,45.82,23473111,57679,20262889,48779
103,Venezuela,236,365,14452,13986,28438000,601,50.82,49.18,39.27,60.73,14452192,236,13985808,365
104,Vietnam,49,37,48741,48153,96894000,86,50.30,49.70,56.98,43.02,48737682,49,48156318,37
105,Wales,4656,5527,1349,1293,2642000,10183,51.06,48.94,45.72,54.28,1349005,4656,1292995,5527

In [8]:
df.columns

Index(['country', 'date', 'age_group', 'age_begin', 'age_end', 'deathsF',
       'deathsM', 'populationin1000sF', 'Num female infection',
       'populationin1000sM', 'Num male infection', 'Total infection',
       'Total Death', '% female infection', '% male infection',
       '% female death', '% male death', 'Country begin', 'Bin 0-19',
       'Bin 20-49', 'Bin 50-79', 'Bin 80+', 'Total'],
      dtype='object')

In [9]:
df_agg.columns

Index(['country', 'deathsF', 'deathsM', 'populationin1000sF',
       'populationin1000sM', 'Total infection', 'Total Death',
       '% female infection', '% male infection', '% female death',
       '% male death', 'Num female infection', 'Num female death',
       'Num male infection', 'Num male death'],
      dtype='object')

In [10]:
df_agg.groupby('country').mean()[['% female infection', '% male infection','% female death','% male death']]

,% female infection,% male infection,% female death,% male death
country,,,,
Afghanistan,48.65,51.35,34.82,65.18
Albania,49.13,50.87,34.75,65.25
Argentina,51.22,48.78,42.50,57.66
Aruba,52.29,47.71,45.03,54.97
Australia,50.20,49.80,42.99,57.01
...,...,...,...,...
Ukraine,53.67,46.33,54.18,45.82
Venezuela,50.82,49.18,39.27,60.73
Vietnam,50.30,49.70,56.98,43.02
Wales,51.06,48.94,45.72,54.28
chile,50.70,49.30,44.23,55.77

In [11]:
df.groupby('country').mean()

,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,Num male infection,Total infection,Total Death,% female infection,% male infection,% female death,% male death,Bin 0-19,Bin 20-49,Bin 50-79,Bin 80+,Total
country,,,,,,,,,,,,,,,,,,,
Afghanistan,45.000000,167.750000,305.555556,572.000000,3010.000000,3.010000e+06,3176.666667,3.176667e+06,6.186667e+06,877.555556,50.285556,49.714444,35.780000,64.220000,0.111111,0.333333,0.333333,0.111111,0.111111
Albania,38.928571,109.357143,93.733333,176.000000,188.400000,1.884000e+05,195.066667,1.950667e+05,3.834667e+05,269.733333,49.526000,50.474000,32.470667,40.862667,0.266667,0.266667,0.333333,0.066667,0.066667
Argentina,40.000000,97.823529,5630.666667,7639.000000,2572.000000,2.572000e+06,2449.777778,2.449778e+06,5.021778e+06,13258.666667,52.572222,47.427778,42.486111,57.522778,0.222222,0.333333,0.333333,0.055556,0.055556
Aruba,40.000000,97.823529,7.555556,9.222222,6.333333,6.333333e+03,5.777778,5.777778e+03,1.211111e+04,16.777778,53.081667,46.918333,29.073889,32.037222,0.222222,0.333333,0.333333,0.055556,0.055556
Australia,45.000000,144.000000,659.636364,874.727273,2327.454545,2.327455e+06,2308.727273,2.308727e+06,4.636182e+06,1534.363636,51.991818,48.008182,41.727273,58.272727,0.181818,0.272727,0.272727,0.181818,0.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ukraine,38.928571,109.357143,7690.400000,6504.000000,3129.600000,3.129600e+06,2701.866667,2.701867e+06,5.831467e+06,14194.400000,55.218000,44.782000,57.448667,42.551333,0.266667,0.266667,0.333333,0.066667,0.066667
Venezuela,40.000000,97.823529,26.222222,40.555556,1605.777778,1.605778e+06,1554.000000,1.554000e+06,3.159778e+06,66.777778,52.018333,47.981667,39.746471,60.253529,0.222222,0.333333,0.333333,0.055556,0.055556
Vietnam,45.000000,144.000000,8.909091,6.727273,8862.000000,8.862000e+06,8755.090909,8.755091e+06,1.761709e+07,15.636364,54.716364,45.283636,64.973333,35.026667,0.181818,0.272727,0.272727,0.181818,0.090909
Wales,57.000000,253.000000,1862.400000,1842.333333,449.666667,4.496667e+05,431.000000,4.310000e+05,8.806667e+05,3394.333333,53.286667,46.713333,36.623333,63.376667,0.166667,0.000000,0.166667,0.166667,0.166667
chile,NaN,NaN,21341.000000,26911.000000,9692.000000,9.692000e+06,9424.000000,9.424000e+06,1.911600e+07,48252.000000,50.700000,49.300000,44.230000,55.770000,0.000000,0.000000,0.000000,0.000000,1.000000

In [12]:
#basic for loop to get info for each row
for index, row in df_agg.iterrows():
    country = row['country']
    femaleInfect = row['% female infection']
    femaleDeath = row['% female death']
    maleInfect = row['% male infection']
    maleDeath = row['% male death']
    print(f'{country} had {femaleInfect}% and {femaleDeath}% female deaths')
    print(f'{country} had {maleInfect}% and {maleDeath}% male deaths')

Afghanistan had 48.65% and 34.82% female deaths
Afghanistan had 51.35% and 65.18% male deaths
Albania had 49.13% and 34.75% female deaths
Albania had 50.87% and 65.25% male deaths
Argentina had 51.22% and 42.5% female deaths
Argentina had 48.78% and 57.66% male deaths
Aruba had 52.29% and 45.03% female deaths
Aruba had 47.71% and 54.97% male deaths
Australia had 50.2% and 42.99% female deaths
Australia had 49.8% and 57.01% male deaths
Austria had 50.69% and 47.08% female deaths
Austria had 49.31% and 52.92% male deaths
Bahamas had 51.15% and 50.16% female deaths
Bahamas had 48.85% and 50.71% male deaths
Bahrain had 28.36% and 22.28% female deaths
Bahrain had 52.18% and 39.05% male deaths
Bangladesh had 48.98% and 30.32% female deaths
Bangladesh had 49.62% and 69.41% male deaths
Barbados had 54.58% and 56.25% female deaths
Barbados had 50.92% and 43.75% male deaths
Belgium had 50.43% and 47.9% female deaths
Belgium had 49.57% and 52.1% male deaths
Bosnia and Herzegovina had 51.01% and 42.0% female deaths
Bosnia and Herzegovina had 48.99% and 58.0% male deaths
Brazil had 50.87% and 42.19% female deaths
Brazil had 49.13% and 57.81% male deaths
Brunei Darussalam had 47.95% and 40.86% female deaths
Brunei Darussalam had 52.05% and 59.14% male deaths
Cabo Verde had 49.8% and 41.96% female deaths
Cabo Verde had 50.2% and 58.04% male deaths
Cambodia had 51.19% and 43.81% female deaths
Cambodia had 48.81% and 56.19% male deaths
Cameroon had 49.98% and 36.26% female deaths
Cameroon had 50.02% and 63.74% male deaths
Canada had 49.92% and 37.94% female deaths
Canada had 50.08% and 61.29% male deaths
Chad had 50.08% and 21.05% female deaths
Chad had 49.92% and 78.95% male deaths
chile had 50.7% and 44.23% female deaths
chile had 49.3% and 55.77% male deaths
Colombia had 50.9% and 39.23% female deaths
Colombia had 49.1% and 60.77% male deaths
Costa Rica had 50.04% and 39.37% female deaths
Costa Rica had 49.96% and 60.63% male deaths
Croatia had 51.78% and 46.11% female deaths
Croatia had 48.22% and 53.89% male deaths
Cuba had 50.33% and 42.81% female deaths
Cuba had 49.67% and 57.19% male deaths
Curaçao had 53.42% and 45.25% female deaths
Curaçao had 46.58% and 54.75% male deaths
Cyprus had 49.92% and 38.69% female deaths
Cyprus had 50.08% and 61.31% male deaths
Czech Republic had 50.77% and 43.55% female deaths
Czech Republic had 49.23% and 56.45% male deaths
Denmark had 50.3% and 45.32% female deaths
Denmark had 49.7% and 54.68% male deaths
Dominican Republic had 50.05% and 38.22% female deaths
Dominican Republic had 49.95% and 61.78% male deaths
Ecuador had 49.99% and 35.85% female deaths
Ecuador had 50.01% and 64.15% male deaths
England had 52.17% and 44.8% female deaths
England had 47.83% and 55.2% male deaths
Equatorial Guinea had 44.34% and 32.74% female deaths
Equatorial Guinea had 55.66% and 67.26% male deaths
Estonia had 52.45% and 50.42% female deaths
Estonia had 47.55% and 49.58% male deaths
Eswatini had 50.92% and 48.81% female deaths
Eswatini had 49.08% and 51.19% male deaths
Finland had 50.67% and 48.69% female deaths
Finland had 49.33% and 51.31% male deaths
France had 51.6% and 42.32% female deaths
France had 48.4% and 57.68% male deaths
Germany had 50.57% and 46.72% female deaths
Germany had 49.43% and 53.28% male deaths
Greece had 50.92% and 45.19% female deaths
Greece had 49.08% and 54.81% male deaths
Guatemala had 50.66% and 35.73% female deaths
Guatemala had 49.34% and 64.27% male deaths
Guinea-Bissau had 51.05% and 34.94% female deaths
Guinea-Bissau had 48.95% and 65.06% male deaths
Haiti had 50.65% and 42.94% female deaths
Haiti had 49.35% and 57.06% male deaths
Hong Kong had 54.12% and 40.58% female deaths
Hong Kong had 45.88% and 59.42% male deaths
Hungary had 52.4% and 49.58% female deaths
Hungary had 47.6% and 50.42% male deaths
Iceland had 49.85% and 39.77% female deaths
Iceland had 50.15% and 60.23% male deaths
Indonesia had 49.65% and 48.86% female deaths
Indonesia had 50.35% and 51.14% male deaths
Iraq had 49.39% and 36.67% female deaths
Iraq had 50.61% and 63.33% male deaths
Israel had 50.23% and 44.58% female deaths
Israel had 49.77% and 55.42% male deaths
Italy had 51.31% and 44.08% female deaths
Italy had 48.69% and 55.92% male deaths
Jamaica had 50.39% and 48.54% female deaths
Jamaica had 49.61% and 51.46% male deaths
Japan had 51.17% and 41.85% female deaths
Japan had 48.83% and 58.15% male deaths
Jersey had nan% and 28.57% female deaths
Jersey had nan% and 71.43% male deaths
Jordan had 49.37% and 40.85% female deaths
Jordan had 50.63% and 59.15% male deaths
Kenya had 50.24% and 35.18% female deaths
Kenya had 49.76% and 64.82% male deaths
Kosovo had 50.68% and 40.11% female deaths
Kosovo had 49.32% and 59.89% male deaths
Kyrgyzstan had 50.54% and 46.06% female deaths
Kyrgyzstan had 49.46% and 53.94% male deaths
Latvia had 53.87% and 53.39% female deaths
Latvia had 46.13% and 46.61% male deaths
Liechtenstein had nan% and 43.02% female deaths
Liechtenstein had nan% and 56.98% male deaths
Lithuania had 53.71% and 52.85% female deaths
Lithuania had 46.29% and 47.15% male deaths
Luxembourg had 49.28% and 45.08% female deaths
Luxembourg had 50.72% and 54.92% male deaths
Malaysia had 48.62% and 43.09% female deaths
Malaysia had 51.38% and 56.91% male deaths
Maldives had 36.79% and 59.43% female deaths
Maldives had 63.21% and 40.57% male deaths
Malta had 49.55% and 41.65% female deaths
Malta had 50.45% and 58.35% male deaths
Mexico had 51.29% and 38.51% female deaths
Mexico had 48.71% and 61.49% male deaths
Moldova had 53.04% and 52.79% female deaths
Moldova had 46.96% and 47.21% male deaths
Mongolia had 50.75% and 54.19% female deaths
Mongolia had 49.25% and 45.81% male deaths
Montenegro had 50.63% and 37.82% female deaths
Montenegro had 49.37% and 62.18% male deaths
Myanmar had 52.26% and 36.0% female deaths
Myanmar had 47.74% and 64.0% male deaths
Namibia had 51.49% and 37.41% female deaths
Namibia had 48.51% and 62.59% male deaths
Nepal had 54.18% and 34.44% female deaths
Nepal had 45.82% and 65.56% male deaths
Netherlands had 50.18% and 45.35% female deaths
Netherlands had 49.82% and 54.65% male deaths
Nigeria had 49.32% and 30.48% female deaths
Nigeria had 50.68% and 69.52% male deaths
North Macedonia had 49.98% and 40.88% female deaths
North Macedonia had 50.02% and 59.12% male deaths
Northern Ireland had 50.69% and 45.41% female deaths
Northern Ireland had 49.31% and 54.59% male deaths
Norway had 49.47% and 45.71% female deaths
Norway had 50.53% and 54.29% male deaths
Oman had 34.0% and 30.26% female deaths
Oman had 66.0% and 69.74% male deaths
Pakistan had 48.17% and 12.42% female deaths
Pakistan had 51.83% and 71.53% male deaths
Palestine had 48.22% and 8.51% female deaths
Palestine had 51.78% and 69.13% male deaths
Panama had 49.9% and 35.2% female deaths
Panama had 50.1% and 64.8% male deaths
Peru had 50.32% and 36.62% female deaths
Peru had 49.68% and 63.38% male deaths
Philippines had 49.78% and 44.78% female deaths
Philippines had 50.22% and 55.22% male deaths
Poland had 52.05% and 44.37% female deaths
Poland had 47.95% and 55.66% male deaths
Portugal had 52.69% and 47.52% female deaths
Portugal had 47.31% and 52.48% male deaths
Qatar had 24.85% and 22.52% female deaths
Qatar had 75.15% and 77.48% male deaths
Republic of Ireland had 50.33% and 46.51% female deaths
Republic of Ireland had 49.67% and 53.52% male deaths
Romania had 51.38% and 46.43% female deaths
Romania had 48.62% and 53.57% male deaths
Saint Kitts and Nevis had nan% and 42.86% female deaths
Saint Kitts and Nevis had nan% and 57.14% male deaths
Scotland had 52.49% and 48.18% female deaths
Scotland had 47.51% and 51.82% male deaths
Singapore had 47.65% and 35.37% female deaths
Singapore had 52.35% and 64.63% male deaths
Sint Maarten had nan% and 42.65% female deaths
Sint Maarten had nan% and 57.35% male deaths
Slovakia had 51.28% and 48.26% female deaths
Slovakia had 48.72% and 51.74% male deaths
Slovenia had 50.24% and 49.9% female deaths
Slovenia had 49.76% and 50.1% male deaths
South Africa had 50.74% and 51.42% female deaths
South Africa had 49.26% and 48.58% male deaths
Spain had 50.85% and 44.72% female deaths
Spain had 49.15% and 55.28% male deaths
Sudan had 50.04% and 31.67% female deaths
Sudan had 49.96% and 68.33% male deaths
Sweden had 49.91% and 45.37% female deaths
Sweden had 50.09% and 54.63% male deaths
Switzerland had 50.4% and 46.16% female deaths
Switzerland had 49.6% and 53.84% male deaths
Trinidad and Tobago had 50.57% and 42.4% female deaths
Trinidad and Tobago had 49.43% and 57.6% male deaths
Tunisia had 50.41% and 32.95% female deaths
Tunisia had 49.59% and 67.05% male deaths
Turkey had 50.63% and 43.64% female deaths
Turkey had 49.37% and 56.36% male deaths
Turks and Caicos had nan% and 50.0% female deaths
Turks and Caicos had nan% and 50.0% male deaths
USA had 50.52% and 44.95% female deaths
USA had 49.48% and 55.05% male deaths
Uganda had 51.28% and 30.77% female deaths
Uganda had 48.72% and 69.23% male deaths
Ukraine had 53.67% and 54.18% female deaths
Ukraine had 46.33% and 45.82% male deaths
Venezuela had 50.82% and 39.27% female deaths
Venezuela had 49.18% and 60.73% male deaths
Vietnam had 50.3% and 56.98% female deaths
Vietnam had 49.7% and 43.02% male deaths
Wales had 51.06% and 45.72% female deaths
Wales had 48.94% and 54.28% male deaths

In [13]:
df_agg['Num female survive'] = df_agg['Num female infection'] - df_agg['Num female death']
df_agg['Num male survive'] = df_agg['Num male infection'] - df_agg['Num male death']

## Risk Ratios of Male vs. Female death per country

In [14]:
df_test = df_agg[df_agg['Num male infection']!= 0]
dict = {'Country':[],'Female Infections':[],'Female Deaths':[],'Male Infections':[],'Male Deaths':[],
           'Risk Ratio (Male)':[],'Signifigance':[],'Lower CI':[],'Upper CI':[]}
dict2 = {'Country':[],'Female Infections':[],'Female Deaths':[],'Male Infections':[],'Male Deaths':[],
           'Risk Ratio (Male)':[],'Signifigance':[],'Lower CI':[],'Upper CI':[]}
agg  = pd.DataFrame(dict)

for index, row in df_test.iterrows():
    # pull numbers
    country = row['country']
    femaleInfect = row['Num female infection']
    femaleDeath = row['Num female death']
    femaleSurvive = row['Num female survive']
    maleInfect = row['Num male infection']
    maleDeath = row['Num male death']
    maleSurvive = row['Num male survive']
    
    # Calculate Relative Risk and CIs
    totalMale = maleDeath + maleSurvive
    totalFemale = femaleDeath + femaleSurvive
    maleRisk = maleDeath/totalMale
    femaleRisk = femaleDeath/totalFemale
    riskRatio = maleRisk/femaleRisk
    riskSE = sqrt((1/maleDeath)+(1/femaleDeath)-(1/(maleDeath+maleSurvive))-(1/(femaleDeath+femaleSurvive)))
    lowerCI = exp(log(riskRatio)-1.96*riskSE)
    upperCI = exp(log(riskRatio)+1.96*riskSE)
    
    
    # Chi-Square testing
    cross = pd.DataFrame({'Died':[maleDeath, femaleDeath],
                         'Survived':[maleSurvive, femaleSurvive]})
    cross.index = ['Male infections','Female infections'] 
    c, p_val, dof, expected = chi2_contingency(cross)
    sig = get_asterisks_for_pval(p_val)
    # add to dataframe
    agg.loc[len(agg.index)] = [country,femaleInfect,femaleDeath,maleInfect,maleDeath,riskRatio,sig,lowerCI,upperCI]

agg
# agg.to_csv('Aggregate Signifigance Testing.csv')

,Country,Female Infections,Female Deaths,Male Infections,Male Deaths,Risk Ratio (Male),Signifigance,Lower CI,Upper CI
0,Afghanistan,13544160,1375,14295840,2574,1.773570,****,1.661180,1.893563
1,Albania,1412979,703,1463021,1320,1.813442,****,1.654902,1.987171
2,Argentina,23149391,50672,22046609,68747,1.424569,****,1.408335,1.440990
3,Aruba,56996,68,52004,83,1.337756,ns,0.971050,1.842943
4,Australia,12800498,3628,12698502,4811,1.336726,****,1.280350,1.395585
...,...,...,...,...,...,...,...,...,...
96,Uganda,15837315,112,15046685,252,2.368227,****,1.895640,2.958629
97,Ukraine,23473111,57679,20262889,48779,0.979680,***,0.967954,0.991549
98,Venezuela,14452192,236,13985808,365,1.598185,****,1.356834,1.882466
99,Vietnam,48737682,49,48156318,37,0.764218,ns,0.498684,1.171141
100,Wales,1349005,4656,1292995,5527,1.238492,****,1.191223,1.287637

In [15]:
agg.drop(agg.index, inplace=True)

In [16]:
country = df_agg[(df_agg['country']=='Afghanistan')]
country

,country,deathsF,deathsM,populationin1000sF,populationin1000sM,Total infection,Total Death,% female infection,% male infection,% female death,% male death,Num female infection,Num female death,Num male infection,Num male death,Num female survive,Num male survive
0,Afghanistan,1375,2574,13545,14295,27840000,3949,48.65,51.35,34.82,65.18,13544160,1375,14295840,2574,13542785,14293266

In [17]:
df_agg['Num female infection'] = df_agg['Num female infection'].astype(float)
df_agg['Num female death'] = df_agg['Num female death'].astype(float)
df_agg['Num male infection'] = df_agg['Num male infection'].astype(float)
df_agg['Num male death'] = df_agg['Num male death'].astype(float)
df_agg.dtypes

country                  object
deathsF                   int64
deathsM                   int64
populationin1000sF        int64
populationin1000sM        int64
Total infection           int64
Total Death               int64
% female infection      float64
% male infection        float64
% female death          float64
% male death            float64
Num female infection    float64
Num female death        float64
Num male infection      float64
Num male death          float64
Num female survive        int64
Num male survive          int64
dtype: object

In [18]:
country = df_agg[(df_agg['country']=='Afghanistan')]
print(country['Num female infection'])
chisq, p = chisquare([country['Num female infection'], country['Num male infection']])
print(chisq,p)

0    13544160.0
Name: Num female infection, dtype: float64
[20295.36] [0.]

In [19]:
country['Num male infection']

0    14295840.0
Name: Num male infection, dtype: float64

In [20]:
# df_agg[(df_agg['country']=='Afghanistan')]
# x= 
# contigency= pd.crosstab(dff[x], dff[y]).round(3)
# print(contigency)
# # start by running chi2 test on the matrix
# chi2, p, dof, ex = chi2_contingency(contigency, correction=True)
# print(f"Chi2 result of the IAV contingency table: {chi2}, p-value: {p} ({get_asterisks_for_pval(p)})")
# print("")

In [21]:
df.columns

Index(['country', 'date', 'age_group', 'age_begin', 'age_end', 'deathsF',
       'deathsM', 'populationin1000sF', 'Num female infection',
       'populationin1000sM', 'Num male infection', 'Total infection',
       'Total Death', '% female infection', '% male infection',
       '% female death', '% male death', 'Country begin', 'Bin 0-19',
       'Bin 20-49', 'Bin 50-79', 'Bin 80+', 'Total'],
      dtype='object')

In [22]:
df

,country,date,age_group,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,...,% female infection,% male infection,% female death,% male death,Country begin,Bin 0-19,Bin 20-49,Bin 50-79,Bin 80+,Total
0,Afghanistan,11/16/2021,19-Oct,10.0,19.0,13.0,12.0,4792.0,4792000,5030.0,...,48.79,51.21,52.00,48.00,Afghanistan,1,0,0,0,0
1,Afghanistan,11/16/2021,20-29,20.0,29.0,41.0,66.0,3408.0,3408000,3628.0,...,48.44,51.56,38.32,61.68,NaN,0,1,0,0,0
2,Afghanistan,11/16/2021,30-39,30.0,39.0,55.0,142.0,2167.0,2167000,2367.0,...,47.79,52.21,27.92,72.08,NaN,0,1,0,0,0
3,Afghanistan,11/16/2021,40-49,40.0,49.0,141.0,291.0,1418.0,1418000,1545.0,...,47.86,52.14,32.64,67.36,NaN,0,1,0,0,0
4,Afghanistan,11/16/2021,50-59,50.0,59.0,318.0,472.0,900.0,900000,941.0,...,48.89,51.11,40.25,59.75,NaN,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,Wales,6/16/2022,45-64,45.0,64.0,413.0,612.0,426.0,426000,403.0,...,51.39,48.61,40.29,59.71,NaN,0,0,0,0,0
1459,Wales,6/16/2022,65-74,65.0,74.0,650.0,1064.0,187.0,187000,175.0,...,51.66,48.34,37.92,62.08,NaN,0,0,1,0,0
1460,Wales,6/16/2022,75-84,75.0,84.0,1349.0,1971.0,120.0,120000,102.0,...,54.05,45.95,40.63,59.37,NaN,0,0,0,0,0
1461,Wales,6/16/2022,85+,85.0,999.0,2244.0,1823.0,53.0,53000,32.0,...,62.35,37.65,55.18,44.82,NaN,0,0,0,1,0
1462,Wales,NaN,NaN,NaN,NaN,4656.0,5527.0,1349.0,1349000,1293.0,...,51.06,48.94,45.72,54.28,NaN,0,0,0,0,1

## Countries that don't fit into bins

In [23]:
# Finding countries that do not fit into the bins

binLess= df[(df['Bin 0-19']!=1)
              & (df['Bin 20-49']!=1)
              & (df['Bin 50-79']!=1)
              & (df['Bin 80+']!=1)
              & (df['Total']!=1)]
                 
# test = df.drop(df[((df['Bin 0-19']==1) | (df['Bin 20-49']==1) | (df['Bin 50-79']==1) | (df['Bin 80+']==1)) 
#                   | (df['Country begin']!='')].index)

display(binLess)
removeCountry = binLess['country'].unique()
display(removeCountry)
rClist = removeCountry.tolist()
binLess['country'].nunique()
# for country in binLess:
#     print(binLess['country'].unique())

,country,date,age_group,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,...,% female infection,% male infection,% female death,% male death,Country begin,Bin 0-19,Bin 20-49,Bin 50-79,Bin 80+,Total
76,Austria,6/15/2022,45-54,45.0,54.0,137.0,261.0,663.0,663000,663.0,...,50.00,50.00,34.42,65.58,NaN,0,0,0,0,0
79,Austria,6/15/2022,75-84,75.0,84.0,2754.0,3860.0,368.0,368000,276.0,...,57.14,42.86,41.64,58.36,NaN,0,0,0,0,0
119,Bangladesh,7/26/2021,45-54,45.0,54.0,53942.0,86906.0,8748.0,8748000,8818.0,...,49.80,50.20,38.30,61.70,NaN,0,0,0,0,0
122,Bangladesh,7/26/2021,75-84,75.0,84.0,34962.0,110880.0,1417.0,1417000,1314.0,...,51.89,48.11,23.97,76.03,NaN,0,0,0,0,0
145,Belgium,5/12/2022,45-64,45.0,64.0,796.0,1540.0,1532.0,1532000,1569.0,...,49.40,50.60,34.08,65.92,NaN,0,0,0,0,0
147,Belgium,5/12/2022,75-84,75.0,84.0,4014.0,5359.0,401.0,401000,304.0,...,56.88,43.12,42.83,57.17,NaN,0,0,0,0,0
154,Bosnia and Herzegovina,6/13/2022,41-50,41.0,50.0,64.0,144.0,221.0,221000,226.0,...,49.44,50.56,30.77,69.23,NaN,0,0,0,0,0
157,Bosnia and Herzegovina,6/13/2022,71-80,71.0,80.0,1324.0,1671.0,133.0,133000,93.0,...,58.85,41.15,44.21,55.79,NaN,0,0,0,0,0
254,Chad,5/16/2021,45-59,45.0,59.0,6.0,30.0,555.0,555000,533.0,...,51.01,48.99,16.67,83.33,NaN,0,0,0,0,0
255,Chad,5/16/2021,60+,60.0,999.0,10.0,50.0,339.0,339000,289.0,...,53.98,46.02,16.67,83.33,NaN,0,0,0,0,0
447,Equatorial Guinea,6/7/2021,46-60,46.0,60.0,9.0,19.0,45.0,45000,55.0,...,45.00,55.00,32.14,67.86,NaN,0,0,0,0,0
448,Equatorial Guinea,6/7/2021,61-80,61.0,80.0,10.0,21.0,16.0,16000,16.0,...,50.00,50.00,32.26,67.74,NaN,0,0,0,0,0
509,Germany,6/15/2022,35-59,35.0,59.0,2205.0,5025.0,14482.0,14482000,14680.0,...,49.66,50.34,30.50,69.50,NaN,0,0,0,0,0
515,Greece,6/12/2022,40-64,40.0,64.0,1567.0,2996.0,1907.0,1907000,1849.0,...,50.77,49.23,34.34,65.66,NaN,0,0,0,0,0
516,Greece,6/12/2022,65+,65.0,999.0,11937.0,13295.0,1294.0,1294000,1028.0,...,55.73,44.27,47.31,52.69,NaN,0,0,0,0,0
533,Guinea-Bissau,4/11/2022,45-54,45.0,54.0,3.0,22.0,63.0,63000,57.0,...,52.50,47.50,12.00,88.00,NaN,0,0,0,0,0
535,Guinea-Bissau,4/11/2022,65+,65.0,999.0,19.0,32.0,35.0,35000,22.0,...,61.40,38.60,37.25,62.75,NaN,0,0,0,0,0
693,Jordan,12/14/2021,45-54,45.0,54.0,466.0,773.0,467.0,467000,501.0,...,48.24,51.76,37.61,62.39,NaN,0,0,0,0,0
696,Jordan,12/14/2021,75-84,75.0,84.0,1361.0,1986.0,67.0,67000,56.0,...,54.47,45.53,40.66,59.34,NaN,0,0,0,0,0
704,Kenya,2/23/2022,60+,60.0,999.0,978.0,1836.0,1260.0,1260000,978.0,...,56.30,43.70,34.75,65.25,NaN,0,0,0,0,0
817,Maldives,11/10/2021,71-80,71.0,80.0,27.0,23.0,4.0,4000,4.0,...,50.00,50.00,54.00,46.00,NaN,0,0,0,0,0
895,Myanmar,9/28/2020,70+,70.0,999.0,34.0,51.0,1078.0,1078000,700.0,...,60.63,39.37,40.00,60.00,NaN,0,0,0,0,0
920,Nepal,6/14/2022,45-54,45.0,54.0,644.0,1385.0,1510.0,1510000,1202.0,...,55.68,44.32,31.74,68.26,NaN,0,0,0,0,0
923,Nepal,6/14/2022,75-84,75.0,84.0,654.0,1221.0,270.0,270000,221.0,...,54.99,45.01,34.88,65.12,NaN,0,0,0,0,0
977,Northern Ireland,5/20/2022,40-59,40.0,59.0,93.0,120.0,256.0,256000,243.0,...,51.30,48.70,43.66,56.34,NaN,0,0,0,0,0
1178,Scotland,6/12/2022,45-64,45.0,64.0,633.0,1031.0,772.0,772000,723.0,...,51.64,48.36,38.04,61.96,NaN,0,0,0,0,0
1180,Scotland,6/12/2022,75-84,75.0,84.0,2100.0,2597.0,192.0,192000,149.0,...,56.30,43.70,44.71,55.29,NaN,0,0,0,0,0
1458,Wales,6/16/2022,45-64,45.0,64.0,413.0,612.0,426.0,426000,403.0,...,51.39,48.61,40.29,59.71,NaN,0,0,0,0,0
1460,Wales,6/16/2022,75-84,75.0,84.0,1349.0,1971.0,120.0,120000,102.0,...,54.05,45.95,40.63,59.37,NaN,0,0,0,0,0

array(['Austria', 'Bangladesh', 'Belgium', 'Bosnia and Herzegovina',
       'Chad', 'Equatorial Guinea', 'Germany', 'Greece', 'Guinea-Bissau',
       'Jordan', 'Kenya', 'Maldives', 'Myanmar', 'Nepal',
       'Northern Ireland', 'Scotland', 'Wales'], dtype=object)

17

In [24]:
#Removing countries that do not fit in the bins
df_Grp = df.groupby(df['country'])
df_clean = df[~df['country'].isin(rClist)]
df_cleanGrp = df_clean.groupby(df_clean['country'])
display(df_clean)
display(df_clean.nunique()['country'])
display(df.nunique()['country'])
difference = (df.nunique()['country']) - (df_clean.nunique()['country'])
display(difference)

,country,date,age_group,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,...,% female infection,% male infection,% female death,% male death,Country begin,Bin 0-19,Bin 20-49,Bin 50-79,Bin 80+,Total
0,Afghanistan,11/16/2021,19-Oct,10.0,19.0,13.0,12.0,4792.0,4792000,5030.0,...,48.79,51.21,52.00,48.00,Afghanistan,1,0,0,0,0
1,Afghanistan,11/16/2021,20-29,20.0,29.0,41.0,66.0,3408.0,3408000,3628.0,...,48.44,51.56,38.32,61.68,NaN,0,1,0,0,0
2,Afghanistan,11/16/2021,30-39,30.0,39.0,55.0,142.0,2167.0,2167000,2367.0,...,47.79,52.21,27.92,72.08,NaN,0,1,0,0,0
3,Afghanistan,11/16/2021,40-49,40.0,49.0,141.0,291.0,1418.0,1418000,1545.0,...,47.86,52.14,32.64,67.36,NaN,0,1,0,0,0
4,Afghanistan,11/16/2021,50-59,50.0,59.0,318.0,472.0,900.0,900000,941.0,...,48.89,51.11,40.25,59.75,NaN,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,Vietnam,8/8/2021,60-69,60.0,69.0,14.0,14.0,3991.0,3991000,3150.0,...,55.89,44.11,50.00,50.00,NaN,0,0,1,0,0
1453,Vietnam,8/8/2021,70-79,70.0,79.0,5.0,5.0,1691.0,1691000,1028.0,...,62.19,37.81,50.00,50.00,NaN,0,0,1,0,0
1454,Vietnam,8/8/2021,80-89,80.0,89.0,11.0,7.0,979.0,979000,498.0,...,66.28,33.72,61.11,38.89,NaN,0,0,0,1,0
1455,Vietnam,8/8/2021,90+,90.0,999.0,2.0,1.0,286.0,286000,111.0,...,72.04,27.96,66.67,33.33,NaN,0,0,0,1,0
1456,Vietnam,NaN,NaN,NaN,NaN,49.0,37.0,48741.0,48741000,48153.0,...,50.30,49.70,56.98,43.02,NaN,0,0,0,0,1

90

107

17

### Country lists

In [194]:
removeCountry = df_clean['country'].unique()
countryList = df['country'].unique()
fullCountrylist = countryList.tolist()
cleanedCountrylist = removeCountry.tolist()

In [195]:
fullCountrylist
cleanedCountrylist

['Afghanistan',
 'Albania',
 'Argentina',
 'Aruba',
 'Australia',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Brazil',
 'Brunei Darussalam',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'chile',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'England',
 'Estonia',
 'Eswatini',
 'Finland',
 'France',
 'Guatemala',
 'Haiti',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'Indonesia',
 'Iraq',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Kosovo',
 'Kyrgyzstan',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Malta',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Namibia',
 'Netherlands',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Ireland',
 'Romania',
 'Saint Kitts and Nevis',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turks and Caicos',
 'USA',
 'Uganda',
 'Ukraine',
 'Venezuela',
 'Vietnam']

# Difference in Age Strata Bins

In [27]:
df_bin1 = df.loc[df['Bin 0-19']==1]
df_bin2 = df.loc[df['Bin 20-49']==1]
df_bin3 = df.loc[df['Bin 50-79']==1]
df_bin4 = df.loc[df['Bin 80+']==1]

df_bin1c = df_clean.loc[df_clean['Bin 0-19']==1]
df_bin2c = df_clean.loc[df_clean['Bin 20-49']==1]
df_bin3c = df_clean.loc[df_clean['Bin 50-79']==1]
df_bin4c = df_clean.loc[df_clean['Bin 80+']==1]

In [28]:
filt = ['country','Num female infection','deathsF','Num male infection','deathsM',
        '% female infection','% male infection','% female death','% male death']

In [43]:
bin1 = df_bin1.groupby(df['country']).sum()
bin2 = df_bin2.groupby(df['country']).sum()
bin3 = df_bin3.groupby(df['country']).sum()
bin4 = df_bin4.groupby(df['country']).sum()
bin1 = bin1.reset_index()
bin2 = bin2.reset_index()
bin3 = bin3.reset_index()
bin4 = bin4.reset_index()

bin1[filt]

,country,Num female infection,deathsF,Num male infection,deathsM,% female infection,% male infection,% female death,% male death
0,Afghanistan,4792000,13.0,5030000,12.0,48.79,51.21,52.00,48.00
1,Albania,328000,0.0,368000,0.0,188.55,211.45,0.00,0.00
2,Argentina,7160000,176.0,7423000,183.0,196.39,203.61,194.21,205.79
3,Aruba,13000,0.0,13000,0.0,200.00,200.00,0.00,0.00
4,Australia,3137000,7.0,3302000,8.0,97.45,102.55,92.86,107.14
...,...,...,...,...,...,...,...,...,...
100,Uganda,5693000,1.0,5756000,2.0,49.72,50.28,33.33,66.67
101,Ukraine,4352000,48.0,4621000,48.0,193.99,206.01,239.00,161.00
102,Venezuela,5021000,2.0,5233000,4.0,195.88,204.12,83.33,216.67
103,Vietnam,13809000,0.0,15144000,0.0,95.44,104.56,0.00,0.00
104,Wales,563000,0.0,581000,57.0,49.21,50.79,0.00,100.00

In [44]:
bin1['Num female survive'] = bin1['Num female infection'] - bin1['deathsF']
bin1['Num male survive'] = bin1['Num male infection'] - bin1['deathsM']
bin2['Num female survive'] = bin2['Num female infection'] - bin2['deathsF']
bin2['Num male survive'] = bin2['Num male infection'] - bin2['deathsM']
bin3['Num female survive'] = bin3['Num female infection'] - bin3['deathsF']
bin3['Num male survive'] = bin3['Num male infection'] - bin3['deathsM']
bin4['Num female survive'] = bin4['Num female infection'] - bin4['deathsF']
bin4['Num male survive'] = bin4['Num male infection'] - bin4['deathsM']

In [45]:
bin1.loc[bin1['age_begin']==10]
# bin1 = bin1.reset_index()
# bin1['age_begin']

,country,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,Num male infection,Total infection,...,% male infection,% female death,% male death,Bin 0-19,Bin 20-49,Bin 50-79,Bin 80+,Total,Num female survive,Num male survive
0,Afghanistan,10.0,19.0,13.0,12.0,4792.0,4792000,5030.0,5030000,9822000,...,51.21,52.00,48.00,1,0,0,0,0,4791987.0,5029988.0
4,Australia,10.0,28.0,7.0,8.0,3137.0,3137000,3302.0,3302000,6439000,...,102.55,92.86,107.14,2,0,0,0,0,3136993.0,3301992.0
15,Cambodia,10.0,28.0,0.0,0.0,3238.0,3238000,3350.0,3350000,6588000,...,101.67,0.00,0.00,2,0,0,0,0,3238000.0,3350000.0
20,Colombia,10.0,28.0,180.0,228.0,7596.0,7596000,7939.0,7939000,15535000,...,102.21,88.14,111.86,2,0,0,0,0,7595820.0,7938772.0
23,Cuba,10.0,28.0,2.0,2.0,1189.0,1189000,1272.0,1272000,2461000,...,103.37,133.33,66.67,2,0,0,0,0,1188998.0,1271998.0
27,Denmark,10.0,28.0,2.0,5.0,625.0,625000,657.0,657000,1282000,...,102.50,58.33,141.67,2,0,0,0,0,624998.0,656995.0
33,Eswatini,10.0,28.0,3.0,5.0,278.0,278000,284.0,284000,562000,...,101.07,42.86,157.14,2,0,0,0,0,277997.0,283995.0
38,Guatemala,10.0,28.0,167.0,182.0,3876.0,3876000,4043.0,4043000,7919000,...,102.11,98.70,101.30,2,0,0,0,0,3875833.0,4042818.0
40,Haiti,10.0,28.0,5.0,10.0,2385.0,2385000,2454.0,2454000,4839000,...,101.41,60.00,140.00,2,0,0,0,0,2384995.0,2453990.0
41,Hong Kong,10.0,28.0,0.0,0.0,579.0,579000,638.0,638000,1217000,...,104.82,0.00,0.00,2,0,0,0,0,579000.0,638000.0
46,Israel,10.0,28.0,13.0,14.0,1498.0,1498000,1579.0,1579000,3077000,...,102.64,95.00,105.00,2,0,0,0,0,1497987.0,1578986.0
47,Italy,10.0,28.0,30.0,27.0,5202.0,5202000,5527.0,5527000,10729000,...,103.02,105.93,94.07,2,0,0,0,0,5201970.0,5526973.0
49,Japan,10.0,28.0,0.0,0.0,10436.0,10436000,11011.0,11011000,21447000,...,102.69,0.00,0.00,2,0,0,0,0,10436000.0,11011000.0
65,Myanmar,10.0,19.0,1.0,3.0,4984.0,4984000,5010.0,5010000,9994000,...,50.13,25.00,75.00,1,0,0,0,0,4983999.0,5009997.0
74,Pakistan,10.0,19.0,15.0,24.0,21830.0,21830000,23598.0,23598000,45428000,...,51.95,38.46,61.54,1,0,0,0,0,21829985.0,23597976.0
75,Palestine,10.0,28.0,6.0,11.0,1211.0,1211000,1263.0,1263000,2474000,...,102.09,70.83,129.17,2,0,0,0,0,1210994.0,1262989.0
77,Peru,10.0,28.0,751.0,851.0,5313.0,5313000,5266.0,5266000,10579000,...,99.50,94.21,105.79,2,0,0,0,0,5312249.0,5265149.0
91,Spain,10.0,28.0,23.0,34.0,4347.0,4347000,4624.0,4624000,8971000,...,103.09,79.78,120.22,2,0,0,0,0,4346977.0,4623966.0
99,USA,10.0,28.0,887.0,1060.0,40141.0,40141000,41913.0,41913000,82054000,...,102.16,91.92,108.08,2,0,0,0,0,40140113.0,41911940.0
100,Uganda,10.0,19.0,1.0,2.0,5693.0,5693000,5756.0,5756000,11449000,...,50.28,33.33,66.67,1,0,0,0,0,5692999.0,5755998.0
103,Vietnam,10.0,28.0,0.0,0.0,13809.0,13809000,15144.0,15144000,28953000,...,104.56,0.00,0.00,2,0,0,0,0,13809000.0,15144000.0

In [46]:
df_bin1

,country,date,age_group,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,...,% female infection,% male infection,% female death,% male death,Country begin,Bin 0-19,Bin 20-49,Bin 50-79,Bin 80+,Total
0,Afghanistan,11/16/2021,19-Oct,10.0,19.0,13.0,12.0,4792.0,4792000,5030.0,...,48.79,51.21,52.00,48.00,Afghanistan,1,0,0,0,0
9,Albania,3/21/2022,0-4,0.0,4.0,0.0,0.0,80.0,80000,87.0,...,47.90,52.10,0.00,0.00,Albania,1,0,0,0,0
10,Albania,3/21/2022,9-May,5.0,9.0,0.0,0.0,80.0,80000,88.0,...,47.62,52.38,0.00,0.00,NaN,1,0,0,0,0
11,Albania,3/21/2022,14-Oct,10.0,14.0,0.0,0.0,75.0,75000,87.0,...,46.30,53.70,0.00,0.00,NaN,1,0,0,0,0
12,Albania,3/21/2022,15-19,15.0,19.0,0.0,0.0,93.0,93000,106.0,...,46.73,53.27,0.00,0.00,NaN,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,Venezuela,3/14/2022,14-Oct,10.0,14.0,1.0,1.0,1298.0,1298000,1360.0,...,48.83,51.17,50.00,50.00,NaN,1,0,0,0,0
1431,Venezuela,3/14/2022,15-19,15.0,19.0,1.0,2.0,1226.0,1226000,1275.0,...,49.02,50.98,33.33,66.67,NaN,1,0,0,0,0
1446,Vietnam,8/8/2021,0-9,0.0,9.0,0.0,0.0,7309.0,7309000,8140.0,...,47.31,52.69,NaN,NaN,NaN,1,0,0,0,0
1447,Vietnam,8/8/2021,19-Oct,10.0,19.0,0.0,0.0,6500.0,6500000,7004.0,...,48.13,51.87,NaN,NaN,NaN,1,0,0,0,0
1457,Wales,6/16/2022,15-44,15.0,44.0,NaN,57.0,563.0,563000,581.0,...,49.21,50.79,0.00,100.00,NaN,1,0,0,0,0

In [47]:
# binList = [df_bin1, df_bin2, df_bin3, df_bin4]
binList = [bin1, bin2, bin3, bin4]

In [48]:
#General get data formula
countryinput = 'Vietnam'
pullNum = 'Num female infection'
binNum = bin1
binNum.loc[binNum['country']==countryinput][pullNum]
# getData = binNum.loc[binNum['country']==countryinput][pullNum]
# print(getData)

103    13809000
Name: Num female infection, dtype: int64

In [49]:
agg_strat  = pd.DataFrame(dict)
for country in fullCountrylist:
    countryinput = country
    pullNum = 'Total infection'
    binNum = bin1
    getData = binNum.loc[binNum['country']==countryinput].agg('sum')[pullNum]
#     agg_strat.loc[len(agg_strat.index)] = [country,getData]
    print(countryinput)
    print(getData)
# agg_strat

Afghanistan
9822000
Albania
696000
Argentina
14583000
Aruba
26000
Australia
6439000
Austria
2259000
Bahamas
118000
Bahrain
401000
Bangladesh
75036000
Barbados
68000
Belgium
3272000
Bosnia and Herzegovina
681000
Brazil
60237000
Brunei Darussalam
130000
Cabo Verde
153000
Cambodia
6588000
Cameroon
14023000
Canada
7942000
Chad
10744000
Chile
4922000
chile
0.0
Colombia
15535000
Costa Rica
1426000
Croatia
794000
Cuba
2461000
Curaçao
40000
Cyprus
273000
Czech Republic
2175000
Denmark
1282000
Dominican Republic
3935000
Ecuador
6394000
England
13329000
Equatorial Guinea
1207000
Estonia
280000
Eswatini
562000
Finland
1176000
France
15412000
Germany
30630000
Greece
4344000
Guatemala
7919000
Guinea-Bissau
1275000
Haiti
4839000
Hong Kong
1217000
Hungary
1878000
Iceland
87000
Indonesia
94260000
Iraq
19320000
Israel
3077000
Italy
10729000
Jamaica
931000
Japan
21447000
Jersey
0
Jordan
5333000
Kenya
26760000
Kosovo
587000
Kyrgyzstan
2629000
Latvia
398000
Liechtenstein
0
Lithuania
543000
Luxembourg
133000
Malaysia
10259000
Maldives
140000
Malta
85000
Mexico
33310000
Moldova
0.0
Mongolia
1236000
Montenegro
154000
Myanmar
9994000
Namibia
1181000
Nepal
14804000
Netherlands
3707000
Nigeria
111554000
North Macedonia
461000
Northern Ireland
485000
Norway
1255000
Oman
1364000
Pakistan
45428000
Palestine
2474000
Panama
1500000
Peru
10579000
Philippines
43385000
Poland
7494000
Portugal
1856000
Qatar
499000
Republic of Ireland
1341000
Romania
3979000
Saint Kitts and Nevis
0
Scotland
2965000
Singapore
985000
Sint Maarten
0
Slovakia
1113000
Slovenia
407000
South Africa
21994000
Spain
8971000
Sudan
22251000
Sweden
2320000
Switzerland
1720000
Trinidad and Tobago
369000
Tunisia
3658000
Turkey
27014000
Turks and Caicos
0
USA
82054000
Uganda
11449000
Ukraine
8973000
Venezuela
10254000
Vietnam
28953000
Wales
1144000

In [50]:
agg_strat  = pd.DataFrame(columns = ['Country','Total Infections'])
agg_strat

Empty DataFrame
Columns: [Country, Total Infections]
Index: []

In [51]:
bin1[]

SyntaxError: invalid syntax (297467552.py, line 1)

## Building a dataset with all the age stratifaction data

In [39]:
agg_strat_data  = pd.DataFrame(columns = ['Country','Bin','Age Range','Total Infections','Total Deaths',
                                         'Male Infections','Male Deaths','Male Survivors','Female Infections',
                                         'Female Deaths', 'Female Survivors',
                                          'Male Risk Ratio','RR Lower CI','RR Upper CI'])

for country in fullCountrylist:
    warnings.filterwarnings("ignore")
    countryinput = country
    binName = 1
 
    for i in binList:
        binNum = i
        # Total infections
        tInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Total infection']
        # Total deaths
        tDth = binNum.loc[binNum['country']==countryinput].agg('sum')['Total Death']  
        # Male infections
        mInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male infection']
        # Female infections
        fInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female infection']
        # Male deaths
        mDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsM']
        # Male survive
        maleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male survive']
        # Female deaths
        fDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsF']
        # Female survive
        femaleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female survive']
        
        # Male Risk Ratio
        try:   
            maleRisk = mDth/mInf
            femaleRisk = fDth/fInf
            riskRatio = maleRisk/femaleRisk
            riskSE = sqrt((1/mDth)+(1/fDth)-(1/(mDth+maleSurvive))-(1/(fDth+femaleSurvive)))
            RRlowerCI = exp(log(riskRatio)-1.96*riskSE)
            RRupperCI = exp(log(riskRatio)+1.96*riskSE)
        except ValueError:
            riskSE = 'N/A'
            RRlowerCI = 'N/A'
            RRupperCI = 'N/A'
        if binName == 1:
            binAge = '0-19'
        elif binName == 2:
            binAge = '20-49'
        elif binName == 3:
            binAge = '50-79'
        else:
            binAge = '80+'
        
        agg_strat_data.loc[len(agg_strat_data.index)] = [countryinput, binName,binAge, tInf,tDth,mInf,mDth,maleSurvive,
                                                        fInf,fDth,femaleSurvive,riskRatio,RRlowerCI,RRupperCI]
       
        
        
        
        
        
        binName += 1

In [414]:
# agg_strat_data.to_csv('Age Stratification Data.csv')

In [52]:
agg_strat_data

,Country,Bin,Age Range,Total Infections,Total Deaths,Male Infections,Male Deaths,Male Survivors,Female Infections,Female Deaths,Female Survivors,Male Risk Ratio,RR Lower CI,RR Upper CI
0,Afghanistan,1,0-19,9822000.0,25.0,5030000.0,12.0,5029988.0,4792000.0,13.0,4791987.0,0.879401,0.401262,1.927285
1,Afghanistan,2,20-49,14533000.0,736.0,7540000.0,499.0,7539501.0,6993000.0,237.0,6992763.0,1.952740,1.672994,2.279262
2,Afghanistan,3,50-79,3379000.0,2772.0,1679000.0,1758.0,1677242.0,1700000.0,1014.0,1698986.0,1.755412,1.624895,1.896414
3,Afghanistan,4,80+,106000.0,416.0,46000.0,305.0,45695.0,60000.0,111.0,59889.0,3.584019,2.885098,4.452255
4,Albania,1,0-19,696000.0,0.0,368000.0,0.0,368000.0,328000.0,0.0,328000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Vietnam,4,80+,1874000.0,21.0,609000.0,8.0,608992.0,1265000.0,13.0,1264987.0,1.278262,0.52981,3.084035
424,Wales,1,0-19,1144000.0,57.0,581000.0,57.0,580943.0,563000.0,0.0,563000.0,inf,NaN,inf
425,Wales,2,20-49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
426,Wales,3,50-79,362000.0,1714.0,175000.0,1064.0,173936.0,187000.0,650.0,186350.0,1.749169,1.586904,1.928026
427,Wales,4,80+,85000.0,4067.0,32000.0,1823.0,30177.0,53000.0,2244.0,50756.0,1.345519,1.26688,1.429038

## Same, but run without countries that didn't fit in the categories

In [86]:
agg_strat_data  = pd.DataFrame(columns = ['Country','Bin','Age Range','Total Infections','Total Deaths',
                                         'Male Infections','Male Deaths','Male Survivors','Female Infections',
                                         'Female Deaths', 'Female Survivors',
                                          'Male Risk Ratio','RR Lower CI','RR Upper CI'])

for country in cleanedCountrylist:
    warnings.filterwarnings("ignore")
    countryinput = country
    binName = 1
 
    for i in binList:
        binNum = i
        # Total infections
        tInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Total infection']
        # Total deaths
        tDth = binNum.loc[binNum['country']==countryinput].agg('sum')['Total Death']  
        # Male infections
        mInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male infection']
        # Female infections
        fInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female infection']
        # Male deaths
        mDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsM']
        # Male survive
        maleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male survive']
        # Female deaths
        fDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsF']
        # Female survive
        femaleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female survive']
        
        # Check for zeros that will cause math errors
        if fDth == 0 or mDth == 0 or fInf == 0 or mInf == 0:
            binName += 1
            pass
        else:
            # Male Risk Ratio
            try:   
                maleRisk = mDth/mInf
                femaleRisk = fDth/fInf
                riskRatio = maleRisk/femaleRisk
                riskSE = sqrt((1/mDth)+(1/fDth)-(1/(mDth+maleSurvive))-(1/(fDth+femaleSurvive)))
                RRlowerCI = exp(log(riskRatio)-1.96*riskSE)
                RRupperCI = exp(log(riskRatio)+1.96*riskSE)
            except ValueError:
                riskSE = 'N/A'
                RRlowerCI = 'N/A'
                RRupperCI = 'N/A'
            if binName == 1:
                binAge = '0-19'
            elif binName == 2:
                binAge = '20-49'
            elif binName == 3:
                binAge = '50-79'
            else:
                binAge = '80+'

            agg_strat_data.loc[len(agg_strat_data.index)] = [countryinput, binName,binAge, tInf,tDth,mInf,mDth,maleSurvive,
                                                            fInf,fDth,femaleSurvive,riskRatio,RRlowerCI,RRupperCI]






            binName += 1

In [85]:
agg_strat_data[(agg_strat_data['Country']=='Iceland') | (agg_strat_data['Country']=='Jersey')]
# agg_strat_data
# agg_strat_data.to_csv('Age Stratification Data_cleaned countries_no zeros.csv')

,Country,Bin,Age Range,Total Infections,Total Deaths,Male Infections,Male Deaths,Male Survivors,Female Infections,Female Deaths,Female Survivors,Male Risk Ratio,RR Lower CI,RR Upper CI
123,Iceland,3,50-79,103000,31,51000,22.0,50978.0,52000,9.0,51991.0,2.492375,1.147737,5.412332
124,Iceland,4,80+,12000,55,5000,29.0,4971.0,7000,26.0,6974.0,1.561538,0.920863,2.647953

# Bin of before and after 30

In [172]:
# 30 Cutoff Dataset, dropping excess rows/columns
df30 = pd.read_csv('Country_age_strat_30.csv', encoding='latin-1')
df30.dropna(how='all', inplace=True)

In [173]:
df30

,country,date,age_group,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,...,Infection,Death,% female infection,% male infection,% female death,% male death,Country begin,Bin 0-30,Bin 30+,Total
0,Afghanistan,11/16/2021,19-Oct,10.0,19.0,13.0,12.0,4792.0,4792000,5030.0,...,9822000,25,48.79,51.21,52.00,48.00,Afghanistan,1.0,0.0,0
1,Afghanistan,11/16/2021,20-29,20.0,29.0,41.0,66.0,3408.0,3408000,3628.0,...,7036000,107,48.44,51.56,38.32,61.68,NaN,1.0,0.0,0
2,Afghanistan,11/16/2021,30-39,30.0,39.0,55.0,142.0,2167.0,2167000,2367.0,...,4534000,197,47.79,52.21,27.92,72.08,NaN,0.0,1.0,0
3,Afghanistan,11/16/2021,40-49,40.0,49.0,141.0,291.0,1418.0,1418000,1545.0,...,2963000,432,47.86,52.14,32.64,67.36,NaN,0.0,1.0,0
4,Afghanistan,11/16/2021,50-59,50.0,59.0,318.0,472.0,900.0,900000,941.0,...,1841000,790,48.89,51.11,40.25,59.75,NaN,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,Wales,6/16/2022,45-64,45.0,64.0,413.0,612.0,426.0,426000,403.0,...,829000,1025,51.39,48.61,40.29,59.71,NaN,0.0,1.0,0
1459,Wales,6/16/2022,65-74,65.0,74.0,650.0,1064.0,187.0,187000,175.0,...,362000,1714,51.66,48.34,37.92,62.08,NaN,0.0,1.0,0
1460,Wales,6/16/2022,75-84,75.0,84.0,1349.0,1971.0,120.0,120000,102.0,...,222000,3320,54.05,45.95,40.63,59.37,NaN,0.0,1.0,0
1461,Wales,6/16/2022,85+,85.0,999.0,2244.0,1823.0,53.0,53000,32.0,...,85000,4067,62.35,37.65,55.18,44.82,NaN,0.0,1.0,0
1462,Wales,NaN,NaN,NaN,NaN,4656.0,5527.0,1349.0,1349000,1293.0,...,2642000,10183,51.06,48.94,45.72,54.28,NaN,NaN,NaN,1

In [174]:
check = df30[df30['age_begin']==30]
checkList = check['country'].to_list()
checkList = checkList.sort()
cleanedCountrylist = cleanedCountrylist.sort()

In [175]:
# Showing that the same countries do not bin properly
# Note that the bins are not aggregious- some just have 35 as the cutoff instead of 30
if checkList == cleanedCountrylist:
    print('True')
else:
    print('Not true')
check.agg('count')['country']

True

90

In [176]:
df30.columns

Index(['country', 'date', 'age_group', 'age_begin', 'age_end', 'deathsF',
       'deathsM', 'populationin1000sF', 'Num female infection',
       'populationin1000sM', 'Num male infection', 'Infection', 'Death',
       '% female infection', '% male infection', '% female death',
       '% male death', 'Country begin', 'Bin 0-30', 'Bin 30+', 'Total'],
      dtype='object')

In [177]:
df30_bin1 = df30.loc[df30['Bin 0-30']==1]
df30_bin2 = df30.loc[df30['Bin 30+']==1]

bin1_30 = df30_bin1.groupby(df['country']).sum()
bin2_30 = df30_bin2.groupby(df['country']).sum()
bin1_30 = bin1_30.reset_index()
bin2_30 = bin2_30.reset_index()


bin1_30[filt]

,country,Num female infection,deathsF,Num male infection,deathsM,% female infection,% male infection,% female death,% male death
0,Afghanistan,8200000,54.0,8658000,78.0,97.23,102.77,90.32,109.68
1,Albania,554000,7.0,614000,2.0,284.36,315.64,160.00,40.00
2,Argentina,10620000,602.0,10961000,631.0,295.27,304.73,292.53,307.47
3,Aruba,21000,0.0,21000,0.0,300.00,300.00,0.00,0.00
4,Australia,4792000,18.0,5023000,22.0,146.47,153.53,136.86,163.14
...,...,...,...,...,...,...,...,...,...
100,USA,62768000,3101.0,65380000,4388.0,146.93,153.07,131.87,168.13
101,Uganda,9729000,9.0,9593000,11.0,100.98,99.02,80.39,119.61
102,Ukraine,6741000,234.0,7131000,99.0,291.51,308.49,398.52,201.48
103,Venezuela,7093000,6.0,7291000,8.0,296.23,303.77,216.66,283.34
104,Vietnam,21335000,4.0,23258000,1.0,143.56,156.44,80.00,20.00

In [178]:
bin1_30['Num female survive'] = bin1_30['Num female infection'] - bin1_30['deathsF']
bin1_30['Num male survive'] = bin1_30['Num male infection'] - bin1_30['deathsM']
bin2_30['Num female survive'] = bin2_30['Num female infection'] - bin2_30['deathsF']
bin2_30['Num male survive'] = bin2_30['Num male infection'] - bin2_30['deathsM']

In [179]:
bin1_30.loc[bin1_30['age_begin']==30]
# bin1_30 = bin1_30.reset_index()
# bin1_30['age_begin']

,country,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,Num male infection,Infection,Death,% female infection,% male infection,% female death,% male death,Bin 0-30,Bin 30+,Total,Num female survive,Num male survive
0,Afghanistan,30.0,48.0,54.0,78.0,8200.0,8200000,8658.0,8658000,16858000,132,97.23,102.77,90.32,109.68,2.0,0.0,0,8199946.0,8657922.0
4,Australia,30.0,57.0,18.0,22.0,4792.0,4792000,5023.0,5023000,9815000,40,146.47,153.53,136.86,163.14,3.0,0.0,0,4791982.0,5022978.0
15,Cambodia,30.0,57.0,2.0,3.0,4764.0,4764000,4926.0,4926000,9690000,5,147.52,152.48,40.00,60.00,3.0,0.0,0,4763998.0,4925997.0
20,Colombia,30.0,57.0,852.0,1176.0,11961.0,11961000,12421.0,12421000,24382000,2028,147.13,152.87,129.62,170.38,3.0,0.0,0,11960148.0,12419824.0
23,Cuba,30.0,57.0,6.0,4.0,1877.0,1877000,2021.0,2021000,3898000,10,144.51,155.49,200.00,100.00,3.0,0.0,0,1876994.0,2020996.0
27,Denmark,30.0,57.0,11.0,20.0,1004.0,1004000,1054.0,1054000,2058000,31,146.34,153.66,95.83,204.17,3.0,0.0,0,1003989.0,1053980.0
33,Eswatini,30.0,57.0,5.0,11.0,382.0,382000,393.0,393000,775000,16,147.76,152.24,67.86,232.14,3.0,0.0,0,381995.0,392989.0
38,Guatemala,30.0,57.0,408.0,519.0,5569.0,5569000,5763.0,5763000,11332000,927,147.49,152.51,140.40,159.60,3.0,0.0,0,5568592.0,5762481.0
40,Haiti,30.0,57.0,13.0,20.0,3410.0,3410000,3459.0,3459000,6869000,33,149.08,150.92,104.44,195.56,3.0,0.0,0,3409987.0,3458980.0
41,Hong Kong,30.0,57.0,0.0,0.0,1030.0,1030000,1054.0,1054000,2084000,0,147.20,152.80,0.00,0.00,3.0,0.0,0,1030000.0,1054000.0
46,Israel,30.0,57.0,35.0,38.0,2082.0,2082000,2192.0,2192000,4274000,73,146.15,153.85,142.83,157.17,3.0,0.0,0,2081965.0,2191962.0
47,Italy,30.0,57.0,73.0,106.0,8154.0,8154000,8679.0,8679000,16833000,179,145.34,154.66,141.18,158.82,3.0,0.0,0,8153927.0,8678894.0
49,Japan,30.0,57.0,0.0,30.0,16356.0,16356000,17238.0,17238000,33594000,30,146.05,153.95,0.00,100.00,3.0,0.0,0,16356000.0,17237970.0
66,Myanmar,30.0,48.0,2.0,5.0,9584.0,9584000,9509.0,9509000,19093000,7,100.43,99.57,58.33,141.67,2.0,0.0,0,9583998.0,9508995.0
75,Pakistan,30.0,48.0,58.0,121.0,41197.0,41197000,44161.0,44161000,85358000,179,96.55,103.45,69.17,130.83,2.0,0.0,0,41196942.0,44160879.0
76,Palestine,30.0,57.0,33.0,23.0,1686.0,1686000,1754.0,1754000,3440000,56,147.08,152.92,140.06,159.94,3.0,0.0,0,1685967.0,1753977.0
78,Peru,30.0,57.0,1749.0,2395.0,8118.0,8118000,7836.0,7836000,15954000,4144,152.69,147.31,133.47,166.53,3.0,0.0,0,8116251.0,7833605.0
92,Spain,30.0,57.0,92.0,118.0,6605.0,6605000,6983.0,6983000,13588000,210,145.82,154.18,124.88,175.12,3.0,0.0,0,6604908.0,6982882.0
100,USA,30.0,57.0,3101.0,4388.0,62768.0,62768000,65380.0,65380000,128148000,7489,146.93,153.07,131.87,168.13,3.0,0.0,0,62764899.0,65375612.0
101,Uganda,30.0,48.0,9.0,11.0,9729.0,9729000,9593.0,9593000,19322000,20,100.98,99.02,80.39,119.61,2.0,0.0,0,9728991.0,9592989.0
104,Vietnam,30.0,57.0,4.0,1.0,21335.0,21335000,23258.0,23258000,44593000,5,143.56,156.44,80.00,20.00,3.0,0.0,0,21334996.0,23257999.0

In [180]:
df30_bin1['age_begin']

0       10.0
1       20.0
9        0.0
10       5.0
11      10.0
        ...
1432    20.0
1433    25.0
1446     0.0
1447    10.0
1448    20.0
Name: age_begin, Length: 494, dtype: float64

In [182]:
binList30 = [bin1_30, bin2_30]

In [190]:
bin2_30[bin2_30['country']=='Wales']

,country,age_begin,age_end,deathsF,deathsM,populationin1000sF,Num female infection,populationin1000sM,Num male infection,Infection,Death,% female infection,% male infection,% female death,% male death,Bin 0-30,Bin 30+,Total,Num female survive,Num male survive
105,Wales,285.0,1265.0,4656.0,5527.0,1349.0,1349000,1293.0,1293000,2642000,10183,268.66,231.34,174.02,325.98,0.0,5.0,0,1344344.0,1287473.0

### Full country for 30 bins

In [187]:
agg_strat_data_30  = pd.DataFrame(columns = ['Country','Bin','Age Range','Total Infections','Total Deaths',
                                             'Male Infections','Male Deaths','Male Survivors','Female Infections',
                                             'Female Deaths', 'Female Survivors',
                                              'Male Risk Ratio','RR Lower CI','RR Upper CI'])
    
for country in fullCountrylist:
    warnings.filterwarnings("ignore")
    countryinput = country
    binName = 1
 
    for i in binList30:
        binNum = i
        # Total infections
        tInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Infection']
        # Total deaths
        tDth = binNum.loc[binNum['country']==countryinput].agg('sum')['Death']  
        # Male infections
        mInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male infection']
        # Female infections
        fInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female infection']
        # Male deaths
        mDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsM']
        # Male survive
        maleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male survive']
        # Female deaths
        fDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsF']
        # Female survive
        femaleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female survive']
        
        # Male Risk Ratio
        try:   
            maleRisk = mDth/mInf
            femaleRisk = fDth/fInf
            riskRatio = maleRisk/femaleRisk
            riskSE = sqrt((1/mDth)+(1/fDth)-(1/(mDth+maleSurvive))-(1/(fDth+femaleSurvive)))
            RRlowerCI = exp(log(riskRatio)-1.96*riskSE)
            RRupperCI = exp(log(riskRatio)+1.96*riskSE)
        except ValueError:
            riskSE = 'N/A'
            RRlowerCI = 'N/A'
            RRupperCI = 'N/A'
        if binName == 1:
            binAge = '0-30'
        elif binName == 2:
            binAge = '30+'
        elif binName == 3:
            binAge = '50-79'
        else:
            binAge = '80+'
        
        agg_strat_data_30.loc[len(agg_strat_data_30.index)] = [countryinput, binName,binAge, tInf,tDth,mInf,mDth,maleSurvive,
                                                                fInf,fDth,femaleSurvive,riskRatio,RRlowerCI,RRupperCI]
       
        
        
        
        
        
        binName += 1

In [191]:
# agg_strat_data_30.to_csv('Age Stratification Data_30.csv')
agg_strat_data_30

,Country,Bin,Age Range,Total Infections,Total Deaths,Male Infections,Male Deaths,Male Survivors,Female Infections,Female Deaths,Female Survivors,Male Risk Ratio,RR Lower CI,RR Upper CI
0,Afghanistan,1,0-30,16858000.0,132.0,8658000.0,78.0,8657922.0,8200000.0,54.0,8199946.0,1.368035,0.966959,1.935468
1,Afghanistan,2,30+,10982000.0,3817.0,5637000.0,2496.0,5634504.0,5345000.0,1321.0,5343679.0,1.791602,1.676039,1.915132
2,Albania,1,0-30,1168000.0,9.0,614000.0,2.0,613998.0,554000.0,7.0,553993.0,0.257794,0.053553,1.240977
3,Albania,2,30+,1708000.0,2014.0,849000.0,1318.0,847682.0,859000.0,696.0,858304.0,1.915983,1.747946,2.100174
4,Argentina,1,0-30,21581000.0,1233.0,10961000.0,631.0,10960369.0,10620000.0,602.0,10619398.0,1.015564,0.908264,1.135539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Venezuela,2,30+,14054000.0,587.0,6695000.0,357.0,6694643.0,7359000.0,230.0,7358770.0,1.706116,1.445568,2.013626
210,Vietnam,1,0-30,44593000.0,5.0,23258000.0,1.0,23257999.0,21335000.0,4.0,21334996.0,0.229330,0.025631,2.051871
211,Vietnam,2,30+,52301000.0,81.0,24895000.0,36.0,24894964.0,27406000.0,45.0,27405955.0,0.880691,0.56818,1.36509
212,Wales,1,0-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
213,Wales,2,30+,2642000.0,10183.0,1293000.0,5527.0,1287473.0,1349000.0,4656.0,1344344.0,1.238483,1.191214,1.287627

## Cleaned country for 30 bins

In [193]:
removeCountry = df_clean['country'].unique()
countryList = df['country'].unique()
fullCountrylist = countryList.tolist()
cleanedCountrylist = removeCountry.tolist()

In [196]:
agg_strat_data_30_c  = pd.DataFrame(columns = ['Country','Bin','Age Range','Total Infections','Total Deaths',
                                             'Male Infections','Male Deaths','Male Survivors','Female Infections',
                                             'Female Deaths', 'Female Survivors',
                                              'Male Risk Ratio','RR Lower CI','RR Upper CI'])
    
for country in cleanedCountrylist:
    warnings.filterwarnings("ignore")
    countryinput = country
    binName = 1
 
    for i in binList30:
        binNum = i
        # Total infections
        tInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Infection']
        # Total deaths
        tDth = binNum.loc[binNum['country']==countryinput].agg('sum')['Death']  
        # Male infections
        mInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male infection']
        # Female infections
        fInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female infection']
        # Male deaths
        mDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsM']
        # Male survive
        maleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male survive']
        # Female deaths
        fDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsF']
        # Female survive
        femaleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female survive']
        
        # Male Risk Ratio
        try:   
            maleRisk = mDth/mInf
            femaleRisk = fDth/fInf
            riskRatio = maleRisk/femaleRisk
            riskSE = sqrt((1/mDth)+(1/fDth)-(1/(mDth+maleSurvive))-(1/(fDth+femaleSurvive)))
            RRlowerCI = exp(log(riskRatio)-1.96*riskSE)
            RRupperCI = exp(log(riskRatio)+1.96*riskSE)
        except ValueError:
            riskSE = 'N/A'
            RRlowerCI = 'N/A'
            RRupperCI = 'N/A'
        if binName == 1:
            binAge = '0-30'
        elif binName == 2:
            binAge = '30+'
        elif binName == 3:
            binAge = '50-79'
        else:
            binAge = '80+'
        
        agg_strat_data_30_c.loc[len(agg_strat_data_30_c.index)] = [countryinput, binName,binAge, tInf,tDth,mInf,mDth,maleSurvive,
                                                                fInf,fDth,femaleSurvive,riskRatio,RRlowerCI,RRupperCI]
       
        
        
        
        
        
        binName += 1

In [199]:
# agg_strat_data_30_c.to_csv('Age Stratification Data_30_cleaned.csv')
agg_strat_data_30_c

,Country,Bin,Age Range,Total Infections,Total Deaths,Male Infections,Male Deaths,Male Survivors,Female Infections,Female Deaths,Female Survivors,Male Risk Ratio,RR Lower CI,RR Upper CI
0,Afghanistan,1,0-30,16858000.0,132.0,8658000.0,78.0,8657922.0,8200000.0,54.0,8199946.0,1.368035,0.966959,1.935468
1,Afghanistan,2,30+,10982000.0,3817.0,5637000.0,2496.0,5634504.0,5345000.0,1321.0,5343679.0,1.791602,1.676039,1.915132
2,Albania,1,0-30,1168000.0,9.0,614000.0,2.0,613998.0,554000.0,7.0,553993.0,0.257794,0.053553,1.240977
3,Albania,2,30+,1708000.0,2014.0,849000.0,1318.0,847682.0,859000.0,696.0,858304.0,1.915983,1.747946,2.100174
4,Argentina,1,0-30,21581000.0,1233.0,10961000.0,631.0,10960369.0,10620000.0,602.0,10619398.0,1.015564,0.908264,1.135539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Ukraine,2,30+,29864000.0,106125.0,13133000.0,48681.0,13084319.0,16731000.0,57444.0,16673556.0,1.079625,1.06669,1.092716
176,Venezuela,1,0-30,14384000.0,14.0,7291000.0,8.0,7290992.0,7093000.0,6.0,7092994.0,1.297124,0.450062,3.738447
177,Venezuela,2,30+,14054000.0,587.0,6695000.0,357.0,6694643.0,7359000.0,230.0,7358770.0,1.706116,1.445568,2.013626
178,Vietnam,1,0-30,44593000.0,5.0,23258000.0,1.0,23257999.0,21335000.0,4.0,21334996.0,0.229330,0.025631,2.051871
179,Vietnam,2,30+,52301000.0,81.0,24895000.0,36.0,24894964.0,27406000.0,45.0,27405955.0,0.880691,0.56818,1.36509

## Full country, drop all zeros

In [207]:
agg_strat_data_30_nozero  = pd.DataFrame(columns = ['Country','Bin','Age Range','Total Infections','Total Deaths',
                                                 'Male Infections','Male Deaths','Male Survivors','Female Infections',
                                                 'Female Deaths', 'Female Survivors',
                                                  'Male Risk Ratio','RR Lower CI','RR Upper CI'])

for country in fullCountrylist:
    warnings.filterwarnings("ignore")
    countryinput = country
    binName = 1
 
    for i in binList30:
        binNum = i
        # Total infections
        tInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Infection']
        # Total deaths
        tDth = binNum.loc[binNum['country']==countryinput].agg('sum')['Death']  
        # Male infections
        mInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male infection']
        # Female infections
        fInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female infection']
        # Male deaths
        mDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsM']
        # Male survive
        maleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male survive']
        # Female deaths
        fDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsF']
        # Female survive
        femaleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female survive']
        
        # Check for zeros that will cause math errors
        if fDth == 0 or mDth == 0 or fInf == 0 or mInf == 0:
            binName += 1
            pass
        else:
            # Male Risk Ratio
            try:   
                maleRisk = mDth/mInf
                femaleRisk = fDth/fInf
                riskRatio = maleRisk/femaleRisk
                riskSE = sqrt((1/mDth)+(1/fDth)-(1/(mDth+maleSurvive))-(1/(fDth+femaleSurvive)))
                RRlowerCI = exp(log(riskRatio)-1.96*riskSE)
                RRupperCI = exp(log(riskRatio)+1.96*riskSE)
            except ValueError:
                riskSE = 'N/A'
                RRlowerCI = 'N/A'
                RRupperCI = 'N/A'
            if binName == 1:
                binAge = '0-30'
            elif binName == 2:
                binAge = '30+'
            elif binName == 3:
                binAge = '50-79'
            else:
                binAge = '80+'

            agg_strat_data_30_nozero.loc[len(agg_strat_data_30_nozero.index)] = [countryinput, binName,binAge, tInf,tDth,
                                                                                 mInf,mDth,maleSurvive,fInf,fDth,femaleSurvive,
                                                                                 riskRatio,RRlowerCI,RRupperCI]


            binName += 1

In [210]:
# agg_strat_data_30_nozero.to_csv('Age Stratification Data_30_No zero.csv')
agg_strat_data_30_nozero

,Country,Bin,Age Range,Total Infections,Total Deaths,Male Infections,Male Deaths,Male Survivors,Female Infections,Female Deaths,Female Survivors,Male Risk Ratio,RR Lower CI,RR Upper CI
0,Afghanistan,1,0-30,16858000,132,8658000,78.0,8657922.0,8200000,54.0,8199946.0,1.368035,0.966959,1.935468
1,Afghanistan,2,30+,10982000,3817,5637000,2496.0,5634504.0,5345000,1321.0,5343679.0,1.791602,1.676039,1.915132
2,Albania,1,0-30,1168000,9,614000,2.0,613998.0,554000,7.0,553993.0,0.257794,0.053553,1.240977
3,Albania,2,30+,1708000,2014,849000,1318.0,847682.0,859000,696.0,858304.0,1.915983,1.747946,2.100174
4,Argentina,1,0-30,21581000,1233,10961000,631.0,10960369.0,10620000,602.0,10619398.0,1.015564,0.908264,1.135539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Venezuela,1,0-30,14384000,14,7291000,8.0,7290992.0,7093000,6.0,7092994.0,1.297124,0.450062,3.738447
187,Venezuela,2,30+,14054000,587,6695000,357.0,6694643.0,7359000,230.0,7358770.0,1.706116,1.445568,2.013626
188,Vietnam,1,0-30,44593000,5,23258000,1.0,23257999.0,21335000,4.0,21334996.0,0.229330,0.025631,2.051871
189,Vietnam,2,30+,52301000,81,24895000,36.0,24894964.0,27406000,45.0,27405955.0,0.880691,0.568180,1.365090
190,Wales,2,30+,2642000,10183,1293000,5527.0,1287473.0,1349000,4656.0,1344344.0,1.238483,1.191214,1.287627

## Full countr, no zero, bin 30

In [211]:
agg_strat_data_30_nozero_c  = pd.DataFrame(columns = ['Country','Bin','Age Range','Total Infections','Total Deaths',
                                                 'Male Infections','Male Deaths','Male Survivors','Female Infections',
                                                 'Female Deaths', 'Female Survivors',
                                                  'Male Risk Ratio','RR Lower CI','RR Upper CI'])

for country in cleanedCountrylist:
    warnings.filterwarnings("ignore")
    countryinput = country
    binName = 1
 
    for i in binList30:
        binNum = i
        # Total infections
        tInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Infection']
        # Total deaths
        tDth = binNum.loc[binNum['country']==countryinput].agg('sum')['Death']  
        # Male infections
        mInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male infection']
        # Female infections
        fInf = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female infection']
        # Male deaths
        mDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsM']
        # Male survive
        maleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num male survive']
        # Female deaths
        fDth = binNum.loc[binNum['country']==countryinput].agg('sum')['deathsF']
        # Female survive
        femaleSurvive = binNum.loc[binNum['country']==countryinput].agg('sum')['Num female survive']
        
        # Check for zeros that will cause math errors
        if fDth == 0 or mDth == 0 or fInf == 0 or mInf == 0:
            binName += 1
            pass
        else:
            # Male Risk Ratio
            try:   
                maleRisk = mDth/mInf
                femaleRisk = fDth/fInf
                riskRatio = maleRisk/femaleRisk
                riskSE = sqrt((1/mDth)+(1/fDth)-(1/(mDth+maleSurvive))-(1/(fDth+femaleSurvive)))
                RRlowerCI = exp(log(riskRatio)-1.96*riskSE)
                RRupperCI = exp(log(riskRatio)+1.96*riskSE)
            except ValueError:
                riskSE = 'N/A'
                RRlowerCI = 'N/A'
                RRupperCI = 'N/A'
            if binName == 1:
                binAge = '0-30'
            elif binName == 2:
                binAge = '30+'
            elif binName == 3:
                binAge = '50-79'
            else:
                binAge = '80+'

            agg_strat_data_30_nozero_c.loc[len(agg_strat_data_30_nozero_c.index)] = [countryinput, binName,binAge, tInf,tDth,
                                                                                 mInf,mDth,maleSurvive,fInf,fDth,femaleSurvive,
                                                                                 riskRatio,RRlowerCI,RRupperCI]


            binName += 1

In [214]:
# agg_strat_data_30_nozero_c.to_csv('Age Stratification Data_30_No zero_cleaned.csv')
agg_strat_data_30_nozero_c

,Country,Bin,Age Range,Total Infections,Total Deaths,Male Infections,Male Deaths,Male Survivors,Female Infections,Female Deaths,Female Survivors,Male Risk Ratio,RR Lower CI,RR Upper CI
0,Afghanistan,1,0-30,16858000,132,8658000,78.0,8657922.0,8200000,54.0,8199946.0,1.368035,0.966959,1.935468
1,Afghanistan,2,30+,10982000,3817,5637000,2496.0,5634504.0,5345000,1321.0,5343679.0,1.791602,1.676039,1.915132
2,Albania,1,0-30,1168000,9,614000,2.0,613998.0,554000,7.0,553993.0,0.257794,0.053553,1.240977
3,Albania,2,30+,1708000,2014,849000,1318.0,847682.0,859000,696.0,858304.0,1.915983,1.747946,2.100174
4,Argentina,1,0-30,21581000,1233,10961000,631.0,10960369.0,10620000,602.0,10619398.0,1.015564,0.908264,1.135539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Ukraine,2,30+,29864000,106125,13133000,48681.0,13084319.0,16731000,57444.0,16673556.0,1.079625,1.066690,1.092716
155,Venezuela,1,0-30,14384000,14,7291000,8.0,7290992.0,7093000,6.0,7092994.0,1.297124,0.450062,3.738447
156,Venezuela,2,30+,14054000,587,6695000,357.0,6694643.0,7359000,230.0,7358770.0,1.706116,1.445568,2.013626
157,Vietnam,1,0-30,44593000,5,23258000,1.0,23257999.0,21335000,4.0,21334996.0,0.229330,0.025631,2.051871
158,Vietnam,2,30+,52301000,81,24895000,36.0,24894964.0,27406000,45.0,27405955.0,0.880691,0.568180,1.365090

In [215]:
check = agg_strat_data_30_nozero_c

## Aggregating bins

In [220]:
bingroups = agg_strat_data_30_nozero_c
bingroups.columns

Index(['Country', 'Bin', 'Age Range', 'Total Infections', 'Total Deaths',
       'Male Infections', 'Male Deaths', 'Male Survivors', 'Female Infections',
       'Female Deaths', 'Female Survivors', 'Male Risk Ratio', 'RR Lower CI',
       'RR Upper CI'],
      dtype='object')

In [222]:
bingroups.groupby('Bin').sum()

,Total Infections,Total Deaths,Male Infections,Male Deaths,Male Survivors,Female Infections,Female Deaths,Female Survivors,Male Risk Ratio,RR Lower CI,RR Upper CI
Bin,,,,,,,,,,,
1,1282571000,40878,655366000,22413.0,655343587.0,627205000,18465.0,627186535.0,74.266249,43.126191,180.603166
2,1515045000,3370618,733977000,1908374.0,732068626.0,781068000,1462244.0,779605756.0,122.451725,110.262906,138.271316

In [226]:
bingroups.groupby('Bin').sum().to_clipboard()

In [224]:
mDth1 = 22413
mInf1 = 655366000
fDth1 = 18465
fInf1 = 627205000
maleRisk1 = mDth1/mInf1
femaleRisk1 = fDth1/fInf1
maleSurvive1 = 655343587
femaleSurvive1 = 627186535


riskRatio1 = maleRisk1/femaleRisk1
riskSE1 = sqrt((1/mDth1)+(1/fDth1)-(1/(mDth1+maleSurvive1))-(1/(fDth1+femaleSurvive1)))
RRlowerCI1 = exp(log(riskRatio1)-1.96*riskSE1)
RRupperCI1 = exp(log(riskRatio1)+1.96*riskSE1)

print(riskRatio1, " ", RRlowerCI1, " ", RRupperCI1, " ")

1.1616526414309893   1.1392436302927216   1.184502439567615

In [225]:
mDth2 = 1908374
mInf2 = 733977000
fDth2 = 1462244
fInf2 = 781068000
maleRisk2 = mDth2/mInf2
femaleRisk2 = fDth2/fInf2
maleSurvive2 = 732068626
femaleSurvive2 = 779605756


riskRatio2 = maleRisk2/femaleRisk2
riskSE2 = sqrt((1/mDth2)+(1/fDth2)-(1/(mDth2+maleSurvive2))-(1/(fDth2+femaleSurvive2)))
RRlowerCI2 = exp(log(riskRatio2)-1.96*riskSE2)
RRupperCI2 = exp(log(riskRatio2)+1.96*riskSE2)

print(riskRatio2, " ", RRlowerCI2, " ", RRupperCI2, " ")

1.3888330323554705   1.3858478117904767   1.3918246833104004